<h1>Redes sociales más usadas</h1>
<hr>

<div *ngIf="doughnutChartData.datasets.length === 0; else divGrafica" 
    class="alert alert-info">
    Cargando Data...
</div>

<ng-template #divGrafica>

    <div class="row">
        <div class="col">
            <div style="display: block">
                <canvas baseChart
                    [data]="doughnutChartData"
                    [type]="doughnutChartType">
                </canvas>
            </div>
        </div>
    </div>
    <span class="float-end text-primary">Información en billones de usuarios</span>
</ng-template>